<div>
    <ul class="space">
        <li><a href="#"><img src="assets/images/brands/new_loreal_paris.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/brands/new_clinique_logo_1.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/brands/new_sulwhasoo_logo.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/brands/new_innisfree_logo2.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/brands/new_anna_sui.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/brands/new_estee_lauder_logo.jpg" alt="asdasd"></a></li>
        <li><a href="#"><img src="assets/images/brands/new_maserati_logo.jpg" alt=""></a></li>
    </ul>
    <ul class="space">
        <li><a href="#"><img src="assets/images/brands/new_furla_logo.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/brands/new_ck_logo.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/brands/new_fossil_logo.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/brands/new_rs_logo_1.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/brands/new_marshall_logo.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/brands/borneopearls.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/brands/new_xiao_mi_logo.jpg" alt=""></a></li>
    </ul>

    <div style="text-align: center;">
     <p style="cursor: pointer;">
        <span > View all brands </span>  
        <span><img src="assets/images/right-arrow (1).png" alt="asdasd" width="10px"></span> 
     </p>
    </div>
</div>