<div id="container" appWindowSize>
  <div
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="1290"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>
  <ng-template #prev>
    <img
      src="assets/images/left-arrow.png"
      id="left"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #next>
    <img
      src="assets/images/right-arrow.png"
      id="right"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #item let-item let-i="index">
    <!-- <div class="items">
      <app-products [itemss]="items"></app-products>
    </div> -->
    <div *ngFor="let item of items; let i = index" class="items">
      <!-- <b>index number {{ i }}</b> -->
      <app-products [itemss]="item"></app-products>
    </div>
  </ng-template>
</div>

<!-- <h1>Try</h1>
<hr />
<span *ngFor="let item of items">
  <app-products [items]="item"></app-products>
</span> -->
