<div class="wrapper card border rounded-0">
  <h3 class="my-0 price">MYR 4.70</h3>
  <hr />
  <div class="mb-3">
    <div class="delivery-option" style="font-family: AvenirReg;">
      <div class="ml-3">
        <img src="assets/images/home.png" alt="home" />
        Home Delivery
      </div>
    </div>
  </div>

  <div class="border border-secondary">
    <div class="rect">
      <p class="my-0 superscript">Ship to</p>
      <span class="city">
        West Malaysia
      </span>
    </div>
  </div>
  <hr />
  <div>
    <p class="my-0">Quantity</p>
    <div class="card drop">
      <p class="qty">1</p>
    </div>
    <div class="mt-4">
      <button class="btn btn-block">
        Add to Bag
      </button>
    </div>
  </div>
</div>
