.space {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    padding: 20px 100px 20px 70px;
}

li{
    list-style: none;
    padding: 10px;
}

.bg{
    height: 600px;
    background-color: #E5E5E5;
    width: 100%;
    margin-top: -800px;
}

