* {
  margin: 0;
  padding: 0;
}
a {
  color: black;
  font-weight: 620;
  font-size: 13px;
}

input:focus {
  outline: none;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0px;
  position: relative;
  text-align: center;
}
.center {
  display: flex;
  justify-content: space-around;
  margin-left: -15px;
  margin-right: 15px;
}

.block {
  padding-right: 20px;
}

#logo {
  height: 35px;
}

.header-filler {
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
}

.search-textbox {
  width: 80%;
  margin-top: 5px;
  border: none;
}

.search-filler {
  position: relative;
  display: inline-block;
  border: none;
  border-bottom: 1px solid;
  width: 500px;
}
.search-filler .icon {
  position: absolute;
  height: 25px;
  width: 25px;
  cursor: pointer;
  right: 0px;
}

.right-icons {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.language {
  width: 27px;
  height: auto;
}

.person {
  width: 22px;
  height: auto;
}

.track-order {
  width: 30px;
  height: auto;
}
.icon{
  width: 30px;
}

.track-icon {
  width: 27px;
  zoom: 0.8;
  top: -13px;
}

.items:hover {
  border-bottom: 1.5px solid #f15b51;
}
.megamenu {
  height: 650px;
  position: absolute;
  /* position: fixed; */
  background-color: blue;
}
.wrapper {
  margin: 0 auto;
  width: 1300px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  list-style: none;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* .sidenav a:hover {
  color: #f1f1f1;
} */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}