<div class="wrapper">
  <div>
    <div class="header-filler center">
      <div>
        <a href="https://www.ourshop.com/">
          <img id="logo" src="assets/images/ourshop_new_logo.png" />
        </a>
      </div>
      <div class="search-filler">
        <input class="search-textbox" type="text" placeholder="Search..." />
        <input
          class="icon"
          type="image"
          src="assets/images/search-icon@2x.png"
          alt="Submit"
        />
      </div>
      <div class="right-icons">
        <div class="block">
          <span>
            <a href="https://www.w3schools.com">
              <img class="language" src="assets/images/sphere-icon.svg" />
            </a>
          </span>
        </div>
        <div class="block">
          <span>
            <a href="https://www.w3schools.com">
              <img class="person" src="assets/images/person.png" href="" />
            </a>
          </span>
        </div>
        <div class="block">
          <span>
            <a href="https://www.w3schools.com">
              <img
                class="track-order"
                src="assets/images/track-order.svg"
                href=""
              />
            </a>
          </span>
        </div>
        <div class="block">
          <span>
            <a href="https://www.w3schools.com">
              <img
                class="track-icon"
                src="assets/images/cart-icon.svg"
                href=""
              />
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ul class="header-ul">
      <li *ngFor="let item of categories">
        <a class="items" style="cursor: pointer;">{{ item.name }}</a>
      </li>
    </ul>
  </div>
</div>

<!-- TODO IMPLEMENT HOVER EFFECT ON MEGAMENU -->
<div class="megamenu"></div>
