<div class="card border rounded-0" style="width: 250px; height: 360;">
  <div class="card-body h-80">
    <div style="text-align: center;">
      <img src="{{ items.image }}" alt="chivas REgal yum" class="text-center" />
    </div>
    <div class="card-title nono">
      <p>
        <b class="pb-0 nono">{{ items.custom_attributes.manufacturer.name }}</b>
      </p>
      <p class="pb-0 nono">{{ items.name }}</p>
    </div>
  </div>
  <p class="price h-20">
    {{ items.prices.currency }} {{ items.prices.price }}.00
  </p>
</div>
