/* * {
  position: fixed;
} */

.price {
  font-weight: 500;
  /* padding-top: 20px; */
  color: #f25b50;
  margin-left: 20px;
  /*  */
  font-size: 15px;
  height: 55px;
  text-align: left;
  position: relative;
  top: 5px;
  width: 100%;
  /* margin: auto; */
}

p {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
.card {
  padding: 0px;
  margin: 0px;
  max-height: 360px;
  max-width: 250px;
  height: 360px;
}
img {
  width: 190px;
  height: 190px;
  align-items: center;
}
.nono {
  margin: 0px;
  padding: 0px;
}
