<!-- <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6"> -->
            <div class="card" style="width: 260px;">
                <div class="card-body">
                    <img src='assets/images/products/CHIVAS XV.jfif' alt="chivas REgal yum">
                    <div class="card-title">
                        <p><b>Chivas Regal</b></p>
                    </div>
                    <div class="card-text">
                        <p>XV 1L</p>   
                    </div>
                        <p class="price">MYR 121.80</p>
                </div>
            </div>
        <!-- </div>
    </div>
</div> -->



