<!-- class car == carousel -->
<div class="center">
    <h4>
        Display Product by: 
    </h4> 
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
</div>


<div class="car">
    <div class="titles">
        <p>Best Sellers</p>
            <div class="container carm">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                </div>
            </div>
    </div>
</div>