<p class="titles">Work From Home Essentials</p>
<!-- <h1>{{ new }}</h1> -->
<div id="container">
  <div
    *ngIf="width > 1024"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="1290"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>

  <div
    *ngIf="width < 1024 && width > 767"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="750"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>
  <div
    *ngIf="width < 767"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="500"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>
  <ng-template #prev>
    <img
      src="assets/images/left-arrow.png"
      id="left"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #next>
    <img
      class="l"
      src="assets/images/right-arrow.png"
      id="right"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #item let-item let-i="index">
    <!-- <div class="items">
                <app-products [itemss]="items"></app-products>
              </div> -->
    <div *ngFor="let item of items; let i = index" class="items">
      <!-- <b>index number {{ i }}</b> -->
      <app-products [itemss]="item"></app-products>
    </div>
  </ng-template>
</div>

<p class="titles">Delights at your Doorstep</p>
<div id="container">
  <div
    *ngIf="width > 1024"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="1290"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>

  <div
    *ngIf="width < 1024 && width > 767"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="750"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>
  <div
    *ngIf="width < 767"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="500"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>
  <ng-template #prev>
    <img
      src="assets/images/left-arrow.png"
      id="left"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #next>
    <img
      src="assets/images/right-arrow.png"
      id="right"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #item let-item let-i="index">
    <!-- <div class="items">
                <app-products [itemss]="items"></app-products>
              </div> -->
    <div *ngFor="let item of items; let i = index" class="items">
      <!-- <b>index number {{ i }}</b> -->
      <app-products [itemss]="item"></app-products>
    </div>
  </ng-template>
</div>

<p class="titles">Get your Glam</p>
<div id="container">
  <div
    *ngIf="width > 1024"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="1290"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>

  <div
    *ngIf="width < 1024 && width > 767"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="750"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>
  <div
    *ngIf="width < 767"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="500"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>
  <ng-template #prev>
    <img
      src="assets/images/left-arrow.png"
      id="left"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #next>
    <img
      src="assets/images/right-arrow.png"
      id="right"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #item let-item let-i="index">
    <!-- <div class="items">
                <app-products [itemss]="items"></app-products>
              </div> -->
    <div *ngFor="let item of items; let i = index" class="items">
      <!-- <b>index number {{ i }}</b> -->
      <app-products [itemss]="item"></app-products>
    </div>
  </ng-template>
</div>

<p class="titles">Popular Pours</p>
<div id="container">
  <div
    *ngIf="width > 1024"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="1290"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>

  <div
    *ngIf="width < 1024 && width > 767"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="750"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>
  <div
    *ngIf="width < 767"
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="500"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>
  <ng-template #prev>
    <img
      src="assets/images/left-arrow.png"
      id="left"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #next>
    <img
      src="assets/images/right-arrow.png"
      id="right"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #item let-item let-i="index">
    <!-- <div class="items">
                <app-products [itemss]="items"></app-products>
              </div> -->
    <div *ngFor="let item of items; let i = index" class="items">
      <!-- <b>index number {{ i }}</b> -->
      <app-products [itemss]="item"></app-products>
    </div>
  </ng-template>
</div>

<!-- <p class="titles">You'll Love These</p>
<div id="container">
  <div
    ng2-carouselamos
    class="slides-wrapper"
    [adc]="adc"
    [width]="1290"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  ></div>
  <ng-template #prev>
    <img
      src="assets/images/left-arrow.png"
      id="left"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #next>
    <img
      src="assets/images/right-arrow.png"
      id="right"
      style="cursor: pointer;"
    />
  </ng-template>

  <ng-template #item let-item let-i="index">
    <div *ngFor="let item of adc; let i = index" class="adc">
      <img src="{{ item }}" alt="{{ item }}" />
    </div>
  </ng-template>
</div> -->
<div>
  <app-adbig></app-adbig>
</div>
<!-- <app-brands-list></app-brands-list> -->
