/* 


li{
    list-style: none;
}

.space {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding: 20px 130px 20px 100px;
}

 */
.titles {
  font-size: 25px;
  margin-top: 20px;
  // margin-left: 120px;
}
p {
  font-weight: 600;
}

#container {
  // width: 100%;
  // margin: 0;
  // padding: 0;
  background-color: white;
  cursor: pointer;
}

.items {
  max-width: 300px;
  height: 400px;
  background: white;
  padding-right: 8px;
}

#left,
#right {
  margin: 0px;
  width: 30px;
}
img {
  outline: none;
}

#left {
  margin-left: -30px;
}
#right {
  margin-right: -30px;
}
