/* 


li{
    list-style: none;
}

.space {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding: 20px 130px 20px 100px;
}

 */
* {
  margin: 0;
  padding: 0;
}
.titles {
  font-size: 25px;
  margin-top: 20px;
  left: 0;
  margin-left: 0px;
}
p {
  font-weight: 600;
}

#container {
  // width: 100%;
  // margin: 0;
  // padding: 0;

  background-color: white;
  cursor: pointer;
}

.items {
  max-width: 300px;
  height: 400px;
  background: white;
  padding-right: 8px;
}

#left,
#right {
  margin: 0px;
  width: 30px;
}
img {
  outline: none;
}

#left {
  margin-left: -30px;
}
#right {
  margin-right: -30px;
}
::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-next {
  width: 0px;
}
::ng-deep .carousel .carousel-control-prev-icon {
  position: absolute;
  left: -30px;
  text-align: center;
  height: 30px;
  width: 30px;
}
::ng-deep .carousel .carousel-control-next-icon {
  position: absolute;
  right: -30px;
  text-align: center;
  height: 30px;
  width: 30px;
}
::ng-deep .carousel-control-next-icon {
  background-image: url("https://storage.googleapis.com/staging.pc-shop-260af.appspot.com/ic_keyboard_arrow_right_black_24px.svg");
}
::ng-deep .carousel-control-prev-icon {
  background-image: url("/assets/images/left-arrow.png");
}
