<div *ngIf="innerWidth > 993">
  <img src="assets/images/banner.jpg" width="100%" alt="banner" />
</div>
<div *ngIf="innerWidth < 993">
  <img src="assets/images/banner2.jpg" width="100%" alt="banner" />
</div>
<div class="ads banner">
  <app-adbox></app-adbox>
</div>
<p class="titles">Trial Version</p>
<carousel
  [itemsPerSlide]="itemsPerSlide"
  [singleSlideOffset]="false"
  [interval]="false"
  [indicatorsByChunk]="true"
>
  <slide *ngFor="let item of items; let i = index">
    <div (click)="productDisplay(item)">
      <app-products [items]="item"></app-products>
    </div>
  </slide>
</carousel>

<p class="titles">Work From Home Essentials</p>
<carousel
  [itemsPerSlide]="itemsPerSlide"
  [singleSlideOffset]="false"
  [interval]="false"
  [indicatorsByChunk]="true"
>
  <slide *ngFor="let item of items; let i = index">
    <app-products [items]="item"></app-products>
  </slide>
</carousel>

<p class="titles">Delights at your Doorstep</p>
<!--  -->
<carousel
  [itemsPerSlide]="itemsPerSlide"
  [singleSlideOffset]="false"
  [interval]="false"
  [indicatorsByChunk]="true"
>
  <slide *ngFor="let item of items; let i = index">
    <app-products [items]="item"></app-products>
  </slide>
</carousel>

<p class="titles">Get your Glam</p>
<carousel
  [itemsPerSlide]="itemsPerSlide"
  [singleSlideOffset]="false"
  [interval]="false"
  [indicatorsByChunk]="true"
>
  <slide *ngFor="let item of items; let i = index">
    <app-products [items]="item"></app-products>
  </slide>
</carousel>

<p class="titles">Popular Pours</p>
<carousel
  [itemsPerSlide]="itemsPerSlide"
  [singleSlideOffset]="false"
  [interval]="false"
  [indicatorsByChunk]="true"
>
  <slide *ngFor="let item of items; let i = index">
    <app-products [items]="item"></app-products>
  </slide>
</carousel>

<div>
  <app-adbig></app-adbig>
</div>
<!-- <app-brands-list></app-brands-list> -->
