
<div>
    <ul class="space">
        <li>
            <a routerLink='/shop-everything'>
                <img src='assets/images/shop_everything.png'> 
                <p>Shop Everything</p>
            </a>
        </li>
        <li>
            <a routerLink='/inflight-delivery'>
                <img src='assets/images/pickup_inflight.png'>
                <p>Inflight Delivery</p>
            </a>
        </li>
        <li>
            <a routerLink='/pickup-at-airport'>
                <img src='assets/images/pickup_airport.png'>
                <p>Pick-up at Airport</p>
            </a>
        </li>
        <li>
            <a routerLink='/home-delivery'>
                <img src='assets/images/home_delivery2.png'>
                <p>Home Delivery</p>
            </a>
        </li>
    </ul>
</div>