

/* ========================== */

li {
    list-style: none;
}

.space {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    padding-left: 460px;
    padding-right: 480px;
    margin-top: -70px;
}

img{
    width: 140px;
    height: 140px;
    margin-right: 20px;
}
p {
    font-weight: bold;
    border: black;
}