
<div>
    <ul class="space">
        <li>
            <img src='assets/images/shop_everything.png'> 
            <p>Shop Everything</p>
        </li>
        <li>
            <img src='assets/images/pickup_inflight.png'>
            <p>Inflight Delivery</p>
        </li>
        <li>
            <img src='assets/images/pickup_airport.png'>
            <p>Pick-up at Airport</p>
        </li>
        <li>
            <img src='assets/images/home_delivery2.png'>
            <p>Home Delivery</p>
        </li>
    </ul>
</div>