<div class="top" >
  <div class="wrapper">
    <div class="center" *ngIf = "width < 1024 && width > 767">
      <h5>Why Shop With Us?</h5>
    </div>
    <ul class="space">
      <li *ngIf = " width > 1024">
        <h4 style="margin: auto;">Why Shop With Us?</h4>
      </li>
      <li>
        <img src="assets/images/reason_0.png" alt="" width="70px" />
        <p>Guaranteed Authentic</p>
      </li>
      <li>
        <img src="assets/images/reason_1.png" alt="" width="70px" />
        <p>Exclusive Products</p>
      </li>
      <li>
        <img src="assets/images/reason_2.png" alt="" width="70px" />
        <p>Safe & Secure Payment</p>
      </li>
      <li>
        <img src="assets/images/reason_3.png" alt="" width="70px" />
        <p>Earn & Pay with Points</p>
      </li>
    </ul>
  </div>
</div>

<div class="bot">
  <div class="space wrapper">
    <ul style="float: left;">
      <li><b>Customer Service</b></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Shopping Guide</a></li>
      <li><a href="#">Duty Allowances</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>

    <ul style="float: left;">
      <li><b>About OURSHOP</b></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Terms & Conditions</a></li>
    </ul>

    <ul style="float: left;">
      <li><b>100% Secure Shopping by</b></li>
      <li>
        <div>
          <span><img src="assets/images/vi.png" alt="visa" width="60px"/></span>
          <span
            ><img src="assets/images/mc.png" alt="master card" width="60px"
          /></span>
          <span
            ><img src="assets/images/ap.png" alt="ali pay" width="60px"
          /></span>
        </div>
      </li>
      <li>
        <div>
          <span
            ><img src="assets/images/up.png" alt="union pay" width="60px"
          /></span>
          <span
            ><img src="assets/images/bp.png" alt="big pay" width="60px"
          /></span>
          <span
            ><img src="assets/images/meps.png" alt="fpx" width="60px"
          /></span>
        </div>
      </li>
    </ul>
    <ul style="float: left;">
      <li><b>Connect With Us</b></li>
      <li>Get first access to exclusive offers!</li>
      <li>
        <div class="search-filler">
          <input
            class="search-textbox"
            type="text"
            placeholder="Email Address"
          />
          <input
            class="icon"
            type="image"
            src="assets/images/arrow-right-light.png"
            alt="arrow-right-light"
          />
        </div>
      </li>
      <li><a href="#">Duty Allowances</a></li>
      <li><a href="#">Contact Us</a></li>
      <li></li>
      <li class="space">
        <span>
          <b style="vertical-align: middle; line-height: 64px; "
            >Connect With Us</b
          >
        </span>
        <span style="vertical-align: middle; line-height: 64px; ">
          <img src="assets/images/fb-icon-dark.png" alt="fb" />
          <img src="assets/images/ig-icon-dark.png" alt="ig" />
        </span>
      </li>
    </ul>
  </div>
  <div class="desc wrapper">
    <br />
    <hr />
    <div>
      <p>
        <b>The best duty free shop is now online</b>
      </p>
    </div>
    <p>
      At OURSHOP, we hope to elevate your shopping experience when you travel
      through a duty free shop. One of the perks of travelling is shopping for
      duty free products. There is a wide array of products to choose from,
      including perfumes, cosmetics, alcohol, local specialties, and even
      gadgets! If you’re a frequent flyer, this is the perfect platform for you.
      Previously, you can only buy duty free from airports and inflight. With
      OURSHOP, you can shop online. You don’t need to rush for your shopping at
      the airport anymore. Now, you will have ample time to shop the catalogue
      online and find what you need. When it comes to delivery, enjoy the
      convenience of having your items delivered to you inflight or pick up your
      products at KLIA2 duty free shop and selected airports. At OURSHOP,
      customers can shop worry-free—we promise security for online shoppers
      everywhere. Have the reassurance of getting 100% authentic and genuine
      products from established brands and authorised retailers when you buy
      from OURSHOP. Get more value when you shop on OURSHOP as an AirAsia BIG
      member. You will be able to collect BIG points with each successful
      purchase and you can also redeem the points for your purchases. There’s a
      lot of reasons to shop duty-free. Besides savings, some products and
      promotions are limited and are exclusively available in duty free shop.
      From AirAsia merchandises to limited edition liquor, this is a great
      opportunity for collectors to shop. It is also great for last-minute
      travel needs such as adapters, neck pillows, and earphones. If you forgot
      to get gifts and souvenirs for your loved ones back home, you could also
      do so with OURSHOP’s selection of local picks.
    </p>
  </div>
</div>
