
<div class="car">
    <div class="titles">
        <p>Best Sellers</p>
            <div class="container carm">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                </div>
            </div>
    </div>
</div>
<br>
<div class="car">
    <div class="titles">
        <p>Treat Yourself Right</p>
            <div class="container carm">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                </div>
            </div>
    </div>
</div>
<br><div class="car">
    <!-- car = Carousel -->
    <div class="titles">
        <p>Family Favorites</p>
            <div class="container carm">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                </div>
            </div>
    </div>
</div>
<br>
<div class="car">
    <div class="titles">
        <p>Timeless Classics</p>
            <div class="container carm">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                </div>
            </div>
    </div>
</div>
<div>
    <app-adbig></app-adbig>
</div>
<app-brands-list></app-brands-list>
<div class="car">
    <div class="titles">
        <p>Dont Miss These</p>
            <div class="container carm">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <span><app-products></app-products>  </span>
                    </div>
                </div>
            </div>
    </div>
</div>